/runs/
/yolo11n-obb.pt
/yolo11s-obb.pt
/已打标的数据202604.zip
/已打标的数据202604/
.venv/
.idea/
/.DS_Store
/datasets/.DS_Store
/datasets/154843_obb_train_val_test/.DS_Store
/datasets/154843_obb_train_val_test/images/.DS_Store
/scripts/__pycache__/create_label1_6_dataset.cpython-38.pyc
/scripts/__pycache__/evaluate_yolo11_obb.cpython-38.pyc
/scripts/__pycache__/predict_yolo11_obb.cpython-38.pyc
/scripts/__pycache__/train_yolo11_obb.cpython-38.pyc
/tests/__pycache__/test_anylabeling_to_obb.cpython-38.pyc
/tests/__pycache__/test_dataset_filter.cpython-38.pyc
/tests/__pycache__/test_dataset_splitter.cpython-38.pyc
/tests/__pycache__/test_eval_metrics.cpython-38.pyc
/tests/__pycache__/test_evaluate_script.cpython-38.pyc
/tests/__pycache__/test_yolo11_obb_config.cpython-38.pyc
/yolo11_obb/__pycache__/__init__.cpython-311.pyc
/yolo11_obb/__pycache__/__init__.cpython-313.pyc
/yolo11_obb/__pycache__/__init__.cpython-38.pyc
/yolo11_obb/__pycache__/anylabeling_to_obb.cpython-38.pyc
/yolo11_obb/__pycache__/config.cpython-311.pyc
/yolo11_obb/__pycache__/config.cpython-313.pyc
/yolo11_obb/__pycache__/config.cpython-38.pyc
/yolo11_obb/__pycache__/dataset_filter.cpython-38.pyc
/yolo11_obb/__pycache__/dataset_splitter.cpython-38.pyc
/yolo11_obb/__pycache__/eval_metrics.cpython-313.pyc
/yolo11_obb/__pycache__/eval_metrics.cpython-38.pyc
/yolo11_obb/__pycache__/runner.cpython-311.pyc
/yolo11_obb/__pycache__/runner.cpython-313.pyc
/yolo11_obb/__pycache__/runner.cpython-38.pyc
